@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    color: black;
    margin: 0 auto;
}

h1 {
    font-weight: normal;
    font-size: 2rem;
}

.countdown-container {
    display:flex;
}

.big-text {
    font-weight: bold;
    font-size: 2rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el {
    text-align: center;
  
}

.countdown-el span {
    text-align: center;
    font-size: 1.5rem;
    margin-right: 40px;
    margin-left: 40px;
}
